<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://cloud-stack-pro.github.io">
    <link rel="stylesheet" href="https://cloud-stack-pro.github.io/fontawesome/pro.min.css" crossorigin="anonymous">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="<%= locals.favicon %>" type="image/x-icon">
    <link rel="manifest" href="<%= locals.manifest %>">
</head>
<body>
    <nav class="navbar">
        <div class="hamber">
            <i style="color: aliceblue" class="fa-solid fa-bars"></i>
        </div>
        <div class="box-left">
            <a class="brand" href="../../">Kingslimes</a>
            <a href="../">Home</a>
            <a href="./create/">Add</a>
        </div>
        <div class="box-right">
            <button onclick="window.location.href='/logout';">logout</button>
        </div>
    </nav>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
body { margin:0 }
body * { font-family: 'Poppins', sans-serif }
.hamber {
    display: none;
    position: absolute;
    left: -100vw;
}
.navbar {
    width: 100%;
    background: black;
    padding: .6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.navbar div {
    display: flex;
    align-items: center;
    transition: all 250ms;
}
.navbar .brand {
    margin-right: 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
}
.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    margin: 0 .2rem;
    font-size: .9rem;
    transition: all 250ms;
}
.navbar a:hover {
    transform: scale(1.1);
}
.navbar button {
    border: 1.4px solid black;
    margin-right: 2rem;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}
.navbar button:hover {
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    border: 1.4px solid white;
    background: rgba(0, 0, 0, 0.884);
}
@media only screen and ( max-width:570px ) {
    .container {
        padding: 0 1rem;
    }
    .hamber {
        position: relative;
        margin-left: 1rem;
        display: none;
        padding: 5px;
        left: 0;
    }
    .hamber i {
        color: white;
        font-size: 1.4rem;
    }
    .box-left {
        padding: .4rem;
        position: absolute;
        left: -20rem;
        top: 4.5rem;
        background: white;
        z-index: 10;
        flex-wrap: wrap;
        width: 250px;
        border-radius: 5px;
        border: 1px solid rgba(37, 37, 37, 0.219);
        box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.1);
    }
    .box-left a:hover {
        transform: scale(1) translateX(6px);
    }
    .box-left a, .navbar .brand {
        color: black;
        width: 100%;
        padding: 5px 10px;
        margin: 0;
        font-size: 1rem;
    }
    .box-left::before {
        width: 0; 
        height: 0; 
        content: '';
        margin-top: calc(-14px - .4rem);
        margin-left: 15px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid black;
    }
}
</style>
<script>
let ham = false;
let hamber = document.querySelector(".hamber");
hamber.addEventListener('click', function() {
    let bl = document.querySelector(".box-left");
    if ( !ham ) {
        bl.style.left = ".5rem"
        ham = true
    } else {
        bl.style.left = "-20rem"
        ham = false
    }
});
</script>
</body>
</html>