<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingslimes</title>
    <link rel="shortcut icon" href="<%= locals.favicon %>" type="image/x-icon">
    <link rel="manifest" href="<%= locals.manifest %>">
</head>
<body>
    <nav class="navbar">
        <a class="brand" href="/">Kingslimes</a>
    </nav>
    <div class="container">

    </div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Righteous&display=swap');
.navbar {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.brand {
    font-family: 'Poppins', sans-serif;
}
</style>
</body>
</html>